@page
@model SupermarketWEB.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Productos";
}

<div class="container mt-4">
    <h1 class="text-center font-weight-bold">Productos</h1>
    <p class="text-center">
        <a asp-page="Create" class="btn btn-primary">Crear Nuevo Producto</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="table-light">
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Products[0].Name)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Products[0].Price)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Products[0].Stock)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Products[0].Category)
                    </th>
                    <th class="font-weight-bold">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => product.Name)</td>
                        <td>@Html.DisplayFor(modelItem => product.Price)</td>
                        <td>@Html.DisplayFor(modelItem => product.Stock)</td>
                        <td>@Html.DisplayFor(modelItem => product.Category.Name)</td>
                        <td>
                            <a asp-page="Edit" asp-route-id="@product.Id" class="btn btn-warning">Editar</a>
                            <a asp-page="Delete" asp-route-id="@product.Id" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>